{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
{% load office_tag %}

{% include 'include/alert.html' %}
<div>
    welcome - {{e.name}}
</div>
{% include 'include/office/office_menu.html' %}
<style>
    .collection{
        background-color: #FFC107;
        color: black;
        border: none;
    }
    .flex{
        display: flex;
        gap: 10px;
        justify-content: center;
    }
</style>

<div class="text-center"><h5><b>{{account_holder.holder_name}}</b></h5></div>
<div class="container">
<br>
<div id="date"></div>
<br>
<form method="post">
{% csrf_token %}
<div><input type="number" oninput="check_amount()" class="form-control" placeholder="Credit Amount" id="credit_amount" name="credit_amount" required></div>
<br>
<div>Total Available <b id="total_amount">{% account_holder_available_balence account_holder.id %}</b></div>
<br>
<div><button type="submit" style="display: none;" class="btn btn-danger" name="Collect_amount" id="Collect_amount" onclick="document.getElementById('Collect_amount').style.display = 'none'; document.getElementById('credit_amount').style.display = 'none' ">Collect</button></div>
</form>

<br>





<div class="flex">
    <div class="text-success">Available Balence <b>{% account_holder_available_balence account_holder.id as n %}{{n}}</b></div>
</div>
<div class="flex">
<div class="account_holder_address text-danger">Pending Loan <b>{% account_holder_pending_loan account_holder.id %}</b></div>
</div>

</div>

<br>
<div class="text-center">
    <h5><b>Last Five Transaction</b></h5>
</div>

<script>
opining_balence = Number('{{n}}')
</script>

{% for t in last_five_transaction %}

<div>
    <div class="flex">
        <div class="">{{t.added_date}}</div>
        <div class="">{{t.remark}}</div>
        {% if t.credit_amount != None %}
            <div class="text-success"><b>{{t.credit_amount}}</b></div>
        {% else %}
            <div class="text-danger"><b>{{t.debit_amount}}</b></div>
        {% endif %}
    </div>
    <div class="text-center">
        <p style="font-size: 15px;margin-bottom: 0px;margin-top: 5px;">Balence <strong id="opining_balence_div{{t.id}}"></strong></p>
    </div>
</div>
<hr>
{% if t.credit_amount != None %}
<script>
    document.getElementById('opining_balence_div{{t.id}}').innerHTML = opining_balence
    opining_balence = opining_balence - Number('{{t.credit_amount}}')
</script>
{% else %}
<script>
    document.getElementById('opining_balence_div{{t.id}}').innerHTML = opining_balence
    opining_balence = opining_balence + Number('{{t.debit_amount}}')
</script>
{% endif %}
{% endfor %}

<script>
function check_amount(){
    total_amount.innerText = (Number(credit_amount.value) + Number('{% account_holder_available_balence account_holder.id %}'));
    if(Number(credit_amount.value) > 0){
        Collect_amount.style.display = 'flex'
    }
    if(Number(credit_amount.value) < 0){
        Collect_amount.style.display = 'none'
        document.getElementById('credit_amount').value = 0
    }
    if (Number(credit_amount.value) < 1){
        Collect_amount.style.display = 'none'
    }
}

document.getElementById("date").innerHTML = formatAMPM();
function formatAMPM() {
var d = new Date(),
    minutes = d.getMinutes().toString().length == 1 ? '0'+d.getMinutes() : d.getMinutes(),
    hours = d.getHours().toString().length == 1 ? '0'+d.getHours() : d.getHours(),
    ampm = d.getHours() >= 12 ? 'pm' : 'am',
    months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'],
    days = ['Sun','Mon','Tue','Wed','Thu','Fri','Sat'];
return days[d.getDay()]+' '+d.getDate()+' '+months[d.getMonth()]+' '+d.getFullYear()+' '+hours+':'+minutes+ampm;
}
</script>
{% endblock content %}